---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("posts")).filter(
    ({ data }) => !data.draft,
  );
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { data } = post;
const { title, pubDate, tags = [], description, author } = data;
const formattedDate = Intl.DateTimeFormat("es-AR", {
  dateStyle: "long", //  "full", "long", "medium", "short"
  timeZone: "UTC",
}).format(pubDate);

const { Content } = await render(post);
---

<Layout title={title} description={description}>
  <article class="prose lg:prose-lg">
    <header class="text-gray-500">
      <time datetime={pubDate.toISOString()}>
        {formattedDate}
      </time>
      <span class="m-2">|</span>
      <span>{author}</span>
    </header>
    <Content />
    <footer><small>{tags.join(", ")}</small></footer>
  </article>
</Layout>
